<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas Disponíveis</title>

    <link rel="stylesheet" href="styles.css">
    <style>

        html{
            height: 100%;
            width: 100%;
        }
        body{
            display: flex;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
            
            
        }
        .container{

            max-width: 600px;
            width: 80%;
            height: 100%;
            background: linear-gradient(rgb(131, 131, 211,0.4), rgb(108, 223, 62,0.7));
            padding: 30px;
            overflow: auto;
            border-radius: 20px;
            box-shadow: 2px 2px 2px black;
        }

        .container h1 {
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container h2:hover{
            color: blueviolet;
        }
        

    </style>
</head>
<body>
    <div class="container">

        <h1>Vagas Disponíveis:</h1>

        <ul>

            <% vagas.forEach(function(vaga) { %>
            <li>

                <h2>ID: <%= vaga.id %> <%= vaga.titulo %></h2>
                <p>Conhecimentos necessários: <%= vaga.conhecimentos %></p>
                <p>Remuneração: R$ <%= vaga.remuneracao %></p>
                <p>Benefícios: <%= vaga.beneficios%></p>
                <p>Status: <%= vaga.status %></p>

            </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
