<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas Disponíveis</title>

    <link rel="stylesheet" href="styles.css">
    <style>

        body{
            
        }
        .container{
            
        }

        

    </style>
</head>
<body>
    <div class="container">
        <h1>Vagas Excluídas:</h1>
        <ul>
            <% vagas.forEach(function(vaga) { %>
            <li>
                <h2>ID: <%= vaga.id %> <%= vaga.titulo %></h2>
                <p>Conhecimentos necessários: <%= vaga.conhecimentos %></p>
                <p>Remuneração: R$ <%= vaga.remuneracao %></p>
                <p>Benefícios: <%= vaga.beneficios%></p>
                <p>Status: <%= vaga.status %></p>
            </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
